diffusers==0.32.0
transformers==4.44.2
accelerate==0.33.0
sentencepiece==0.2.0
protobuf==3.20.3
safetensors==0.4.5
huggingface_hub==0.26.2
hf_transfer==0.1.8
av==13.1.0
einops==0.8.0
imageio==2.36.0
imageio-ffmpeg==0.5.1
opencv-python-headless==4.10.0.84
Pillow==10.4.0
numpy==1.26.4
librosa==0.10.2
soundfile==0.12.1
onnxruntime==1.19.2
fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9
gradio==4.44.0
pydantic==2.9.2
psutil==6.0.0
tqdm==4.66.5
rich==13.7.1
